<ion-content padding>
  <ion-row>
    <!-- <ion-col size="12">
      <div class="imgcontainer">
        <img src="../../assets/images/camera.jpg" alt="" srcset="" alt="Avatar" class="avatar">
      </div>
    </ion-col> -->
  </ion-row>
 <form [formGroup]="form" (ngSubmit)="agregar()">
   
   <ion-item>
      <ion-label  position="floating" required>
        E-mail <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input required type="email" formControlName="email"></ion-input>
    </ion-item>
    <ion-item>
     <ion-label position="floating">Contraseña <ion-text color="danger">*</ion-text>
     </ion-label>
     <ion-input required type="password" name="password" formControlName="password"></ion-input>
   </ion-item>
   <ion-item>
     <ion-label  position="floating" required>
       Nombre de usuario <ion-text color="danger">*</ion-text>
     </ion-label>
     <ion-input required type="name" formControlName="nickName"></ion-input>
   </ion-item>

   <ion-item>
    <ion-label  position="floating" >
      Nombre completo
    </ion-label>
    <ion-input required type="name" formControlName="fullName"></ion-input>
  </ion-item>
   
    <ion-item>
      <ion-label>Fecha</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY" display-timezone="gmt-5" formControlName="birthdate"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-input required type="file" formControlName="image"></ion-input>
    </ion-item>

  <!-- <ion-item>
    <ion-label  position="floating" required>
      Código aplicante <ion-text color="danger">*</ion-text>
    </ion-label>
    <ion-input required type="number" name="applicantcode" formControlName="applicantcode"></ion-input>
  </ion-item> -->
  <ion-button expand="full" block color="primary" type="submit" style="margin-top: 20px;">
    Registrarse &nbsp; <ion-icon name="log-in"></ion-icon>
  </ion-button>
  <ion-col size="12">
    <ion-text color="primary" routerLink="/login" class="register_link" style="justify-content: center;">
      <b>Ir a login</b>
    </ion-text>
  </ion-col>
 </form>
<div #loginImages style="display: none;"></div>
<img src="" id="login_image"/>
<img src="" id="img_from_server"/>

</ion-content>
